{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":5,"column":6},"end":{"row":6,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":6,"column":0},"end":{"row":6,"column":1},"action":"insert","lines":["s"]},{"start":{"row":6,"column":1},"end":{"row":6,"column":2},"action":"insert","lines":["h"]},{"start":{"row":6,"column":2},"end":{"row":6,"column":3},"action":"insert","lines":["o"]},{"start":{"row":6,"column":3},"end":{"row":6,"column":4},"action":"insert","lines":["p"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":4},"end":{"row":6,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1571155088206,"hash":"481c0054ff5169918d540caf10f71511eed2981c"}